.headerContainer {
  background: #eee;
  position: relative;
  margin-bottom: 88px;

  .header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    background: #fff;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 16px 30px;
    box-sizing: unset;
    h1 {
      margin-right: 20px;
      display: flex;
      align-items: center;
      img {
        width: 138px;
        height: 40px;
      }
    }
    .searchContainer {
      width: 442px;
      height: 56px;
      background: #ededed;
      line-height: 56px;
      text-align: center;
      color: #666;
      i {
        margin-right: 10px;
        vertical-align: middle;
        font-weight: bold;
      }
      span {
        font-size: 28px;
      }
    }
    .btn {
      width: 72px;
      height: 38px;
      line-height: 38px;
      margin-left: 16px;
      text-align: center;
      color: #dd1a21;
      border: 1px solid #dd1a21;
      border-radius: 5px;
    }
  }

  .headerNav {
    position: relative;
    width: 750px;
  }
}

.am-tabs-pane-wrap {
  > div {
    background: #eee !important;
  }
}
.am-tabs-default-bar {
  padding-left: 30px;
  position: fixed;
  height: 60px;
  .am-tabs-default-bar-content {
    background: #fff;
  }
  .am-tabs-default-bar-tab {
    font-size: 28px;
    color: #555;
    text-align: center;
    line-height: 60px;
    box-sizing: unset;
    &.am-tabs-default-bar-tab-active {
      color: #dd1a21;
      &::after {
        left: 0;
        bottom: 0;
        height: 8px !important;
        background-color: #dd1a21 !important;
      }
    }
  }
  .am-tabs-default-bar-underline {
    display: none;
  }
}

// 固定定位
.goGift {
  position: fixed;
  right: 0;
  top: 1000px;
  width: 112px;
  height: 80px;
  z-index: 10;
  animation: 0.8s moveLeft linear;
  background: url("http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/wapNewUserEntry-b69d0624fd.png?imageView&type=webp");
  background-size: 100% 100%;
  vertical-align: middle;
  background-repeat: no-repeat;

  @keyframes moveLeft {
    from {
      right: -200px;
    }
    to {
      right: 0;
    }
  }
}
.goToTop {
  position: fixed;
  right: 23px;
  bottom: 130px;
  display: inline-block;
  vertical-align: middle;
  width: 82px;
  height: 82px;
  background-image: url("../../assets/images/home/goToTop.webp");
  background-size: 82px;
  z-index: 2;
}
